

/****************   Global settings   ****************/

body {
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 10%, rgba(9,9,121,1) 71%, rgba(27,27,139,1) 100%);
  color: white;
}



/****************   Navigation of the website   ****************/

nav {
  background: #ccc;
  padding: 20px;
  overflow: hidden;
}

ul {
  overflow: hidden;
  padding: 0;
  margin: 0;
}

/* Style the links inside the navigation bar */
.nav-left a, .nav-right a {
  text-align: center;
  padding: 14px 32px;
  text-decoration: none;
  font-size: 2em;
  font-family: 'Dela Gothic One', cursive;
  color: white;
}

.nav-left a {
  float: left;
}

.nav-right a {
  float: right;
}

/* Change the color of links on hover */
.nav-left a:hover, .nav-right a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.nav-left a.active, .nav-right a.active {
  background-color: #4CAF50;
  color: white;
}



/****************   Content of the website   ****************/

section {
  height:80%;
}

.projects {
  display: inline;
  padding: 0;
  margin: 0;
}

.projects > li a{
  display: inline;
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  font-family: 'EB Garamond', serif;
  font-weight: 500;
  padding-left: 2%;
}


/****************   Footer of the website   ****************/

/* Style the footer */
footer {
  padding: 10px;
  text-align: center;
  color: white;
  bottom: 0;
}



/****************   Other - not yet in use   ****************/

/* Hover options to photos */
.hover-title {
    display: inline;
    pointer-events: auto;
    cursor: pointer;
}

.hover-image {
    visibility: hidden;
}

body:not(.mobile) .hover-title:hover + .hover-image {
    visibility: visible;
    pointer-events: none;
}

.hover-image {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    pointer-events: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

/* Change width and height to scale images */
    width: 90vw;
    height: 90vh;
}

.hover-image img {
    max-width: 100% !important;
    max-height: 100% !important;
    width: auto !important;
    height: auto !important;
    margin-bottom: 0;
}
